*.gz
log.*
*~
processor*
[0-9]*
[0-9]*.[0-9]*
!0.org
constant/extendedFeatureEdgeMesh
*.eMesh
!constant/polyMesh/blockMeshDict
constant/cellToRegion
*.OpenFOAM
dynamicCode
!postProcessing/**
postProcessing/yPlus
!0
0/vorticity
0/yPlus
constant/polyMesh
aerofoil_str.*